name: Build and Push

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    
    - name: Docker Login
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Build and Push Backend
      run: |
        docker build ./backend -t ${{ secrets.DOCKER_USERNAME }}/kittygram_backend:latest
        docker push ${{ secrets.DOCKER_USERNAME }}/kittygram_backend:latest
    
    - name: Build and Push Frontend
      run: |
        cd frontend
        docker build . -t ${{ secrets.DOCKER_USERNAME }}/kittygram_frontend:latest
        docker push ${{ secrets.DOCKER_USERNAME }}/kittygram_frontend:latest
    
    - name: Build and Push Gateway
      run: |
        docker build ./nginx -t ${{ secrets.DOCKER_USERNAME }}/kittygram_gateway:latest
        docker push ${{ secrets.DOCKER_USERNAME }}/kittygram_gateway:latest
    
    # Telegram уведомление
    - name: Send Telegram notification
      if: success()
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TELEGRAM_TO }}
        token: ${{ secrets.TELEGRAM_TOKEN }}
        message: |
          ✅ Kittygram успешно собран и загружен!
          🐳 Docker Hub: https://hub.docker.com/u/${{ secrets.DOCKER_USERNAME }}
          🔗 GitHub: https://github.com/${{ github.repository }}
          🚀 Готово к проверке!
